# Time Series LSTM Algorithm

This algorithm is used to forecast FOREX prices for the USDJPY pair. It fetches data from MetaTrader5 and applies feature engineering to create additional data.

The forecasted values are set to:
- **Position 1** if the prediction indicates that the price will go up in the next hour
- **Position 0** if the prediction indicates that the price will go down in the nex hourx hour

In [50]:
import pandas as pd
import numpy as np
import MetaTrader5 as mt5
import ta
import matplotlib.pyplot as plt
plt.style.use("seaborn-v0_8-darkgrid")
from datetime import datetime
import warnings
warnings.filterwarnings("ignore")
from UsefulFunctions import data, backtest, display

**Initiate bound between MetaTrader5 and Python**

In [53]:
# To be able to connect to MetaTrader5 you need to be already logged in with your trading account
mt5.initialize()

True

In [75]:
# Fetching data from MetaTrader5 from 2015 to the present using the custom function "get_rates" from the data.py file
# The historical data retrieved is of 1-hour timeframe
df = data.get_rates("USDJPY", mt5.TIMEFRAME_H1, datetime(2015,1,1))
df.head()

,open,high,low,close,tick_volume,spread,real_volume
time,,,,,,,
2015-01-02 08:00:00,120.42,120.44,120.33,120.39,262,30,0
2015-01-02 09:00:00,120.40,120.50,120.38,120.43,599,30,0
2015-01-02 10:00:00,120.44,120.48,120.34,120.34,832,30,0
2015-01-02 11:00:00,120.33,120.42,120.31,120.40,761,30,0
2015-01-02 12:00:00,120.41,120.47,120.37,120.43,484,30,0

In [77]:
# Drop columns spread and real_volume and remane columns tick_volumne to volumne
df = df[["open", "high", "low", "close", "tick_volume"]]
df.rename(columns={'tick_volume': 'volume'}, inplace=True)
df.head()

                       open    high     low   close  volume
time
2015-01-02 08:00:00  120.42  120.44  120.33  120.39     262
2015-01-02 09:00:00  120.40  120.50  120.38  120.43     599
2015-01-02 10:00:00  120.44  120.48  120.34  120.34     832
2015-01-02 11:00:00  120.33  120.42  120.31  120.40     761
2015-01-02 12:00:00  120.41  120.47  120.37  120.43     484

## Feature engineering 
**Creating new input variables from raw data**

In [79]:
# Create a second DataFrame from the close column and compute the percent change in a new column
df_copy = df[["close"]]
df_copy["pct_change"] = df_copy["close"].pct_change(1)
df_copy.head()

                      close  pct_change
time
2015-01-02 08:00:00  120.39         NaN
2015-01-02 09:00:00  120.43    0.000332
2015-01-02 10:00:00  120.34   -0.000747
2015-01-02 11:00:00  120.40    0.000499
2015-01-02 12:00:00  120.43    0.000249

In [81]:
# Creating new features to train the model
df_copy2 = df_copy
df_copy2["SMA 15"] = df_copy2[["close"]].rolling(15).mean().shift(1)
df_copy2["SMA 60"] = df_copy2[["close"]].rolling(60).mean().shift(1)
df_copy2["MSD 10"] = df_copy2[["close"]].rolling(10).std().shift(1)
df_copy2["MSD 30"] = df_copy2[["close"]].rolling(30).std().shift(1)

RSI = ta.momentum.RSIIndicator(df_copy2["close"], window=30, fillna=False)
df_copy2["RSI 30"] = RSI.rsi().shift(1)

WR = ta.momentum.WilliamsRIndicator(df["high"], df["low"], df["close"], lbp=21, fillna=False)
df_copy2["WR 21"] = WR.williams_r().shift(1)

df_copy2.dropna(inplace=True)
df_copy2.head()

,close,pct_change,SMA 15,SMA 60,MSD 10,MSD 30,RSI 30,WR 21
time,,,,,,,,
2015-01-06 20:00:00,118.36,-0.001013,118.910667,119.814667,0.308300,0.423147,37.046534,-72.670807
2015-01-06 21:00:00,118.62,0.002197,118.848667,119.780833,0.340361,0.415715,36.030372,-79.746835
2015-01-06 22:00:00,118.49,-0.001096,118.808000,119.750667,0.342922,0.409160,39.735411,-60.273973
2015-01-06 23:00:00,118.36,-0.001097,118.777333,119.719833,0.343455,0.420124,38.579643,-69.178082
2015-01-07 00:00:00,118.59,0.001943,118.748667,119.685833,0.283706,0.431128,37.452708,-77.142857